@font-face {
  font-family: 'Hitch Hike';
  src: local('Hitch Hike'), local('HitchHike'), url('./assets/fonts/Hitchhike.woff2') format('woff2'),
    url('./assets/fonts/Hitchhike.woff') format('woff'), url('./assets/fonts/Hitchhike.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}
